<ejs-tab (selected)="selected($event)">
  <e-tabitems>
    <e-tabitem *ngIf="!user">
      <ng-template #headerText>
        <h1 id="title">Tv Tracker</h1>
      </ng-template>
      <ng-template #content>
        <browse-page (showSpinner)="showSpinner()" (hideSpinner)="hideSpinner()"></browse-page>
      </ng-template>
    </e-tabitem>
    <e-tabitem *ngIf="user">
      <ng-template #headerText>
        Browse
      </ng-template>
      <ng-template #content>
        <browse-page (showSpinner)="showSpinner()" (hideSpinner)="hideSpinner()" *ngIf="selectedIndex == 0"></browse-page>
      </ng-template>
    </e-tabitem>
    <e-tabitem *ngIf="user">
      <ng-template #headerText>
        Saved
      </ng-template>
      <ng-template #content>
        <saved-page (showSpinner)="showSpinner()" (hideSpinner)="hideSpinner()" *ngIf="selectedIndex == 1"></saved-page>
      </ng-template>
    </e-tabitem>
    <e-tabitem [disabled]="true" cssClass="loginTab">
      <ng-template #headerText>
        <button ejs-button isPrimary="true" (click)="login()" *ngIf="!user">Login</button>
      </ng-template>
    </e-tabitem>
  </e-tabitems>
</ejs-tab>
<div id="spinnerDiv"></div>
