<div id="searchBar">
  <table class="navTable">
    <tr><td><div class="navLink" *ngIf="showPrevNav" (click)="getPrevPage()"><i class="fa fa-chevron-left"></i></div></td></tr>
  </table>
  <table>
    <tr>
      <td><ejs-radiobutton #movie label="Movie" value="Movie" name="type" [checked]="isMovie"></ejs-radiobutton></td>
      <td><ejs-radiobutton label="Tv" value="Tv" name="type" [checked]="!isMovie"></ejs-radiobutton></td>
      <td><ejs-textbox #searchTxt></ejs-textbox></td>
      <td><button ejs-button isPrimary=true (click)="search({text: searchTxt.value, isMovie: movie.checked, page: 1})">Search</button></td>
    </tr>
  </table>
  <table class="navTable">
    <tr><td><div class="navLink" *ngIf="showNextNav" (click)="getNextPage()"><i class="fa fa-chevron-right"></i></div></td></tr>
  </table>
</div>
<div id="dashDiv">
  <ejs-dashboardlayout [columns]="5"
                       [cellAspectRatio]="7/10"
                       [cellSpacing]="[20, 20]"
                       [allowFloating]="false"
                       [allowDragging]="false"
                       [mediaQuery]="'max-width: 800px'"
                       (created)="dashCreated()">
  </ejs-dashboardlayout>
</div>
<media-item-dialog (showSpinner)="showSpinner.emit()" (hideSpinner)="hideSpinner.emit()"></media-item-dialog>
