#searchBar {
  display: flex;
  align-content: center;
  justify-content: space-between;
  border-bottom: 1px solid darkgray;
  background: #f2f2f2 !important;
  height: 38px;
}

table {
  border-collapse: separate;
  border-spacing: 15px 0px;
}

#dashDiv {
  margin: 20px;
}

#dashboard {
 width: calc(100% - 10px)
}

.navTable {
  width: 41px;
}

.navLink {
  font-size: 14px;
  line-height: .75em;
  font-weight: bold;
  color: #e3165b;
  cursor: pointer;
}
